section.wrapper{
  background-color: #025F59;
  display: grid;
  place-items: center;
  min-height: 100vh;
  
  .link-btn{
    background-color: transparent;
    border: 1px solid transparent;
    outline: none;
    border-radius: 12px;
   box-shadow: 1px 1px 8px 1px  rgb(214, 220, 221);
    
     a{

    color: #FBF8F8;
    padding: 15px;
    display: inline-block;
    }

  }
}
